div#cutscene-maker-window {
    width: 900px;
    height: 520px;
    min-width: 700px;
    min-height: 520px;
}

button {
    color: black;
}

.action-description {
   max-height: 50px;
   overflow-y: auto;
}

ul#actionList {
    margin: 0;
    padding: 0;
}

#screen-select-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    cursor: crosshair;
  }

  #selection-box {
    position: absolute;
    border: 2px dashed #fff;
    background-color: rgba(255, 0, 0, 0.3); /* Add this line for debugging */
    pointer-events: none;
    cursor: crosshair;
  }

textarea {
    color: black;
}

.window-app.minimized {
    height: 30px !important;
    min-height: 30px !important;
    overflow: hidden;
}

.window-app.minimized .window-content {
    display: none;
}

.window-app.minimized .window-header {
    margin-bottom: 0;
}

div#cutsceneContainer {
    min-height: 300px;
}

div#availableActions {
    overflow-y: scroll;
    overflow-x: clip;
    height: -webkit-fill-available;
}

#currentSequenceHeader, #availableActionsHeader {
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure the header is above other content */
    padding: 6px 0; /* Add some padding for aesthetics */
}

#actionListWrapper {
    overflow-y: auto;
    max-height: calc(100% - 44px); /* Adjust the height to account for the header */
}

.cutscene-maker-button {
    width: 97%;
}

div#availableActionsContainer {
    overflow: hidden;
    padding: 10px 0 0 0;
}

div#cutscene-maker-content {
    padding: 0px 10px 0 10px;
    margin: -10px 0 0 0px;
}

.ui-state-default {
    height: 62.5px;
}

div#button-container {
    height: calc(100% - 42px);
}

button#clearButton {
    margin: 0 8px;
}

button#exportButton {
    margin: 0 8px;
}

button#testRunButton {
    margin: 0 8px;
}

button#importButton {
    margin: 0 8px;
}